#history-table-header {
    padding: 2rem 2rem 2rem 1.3rem;
}

#history-table-title {
    font-weight: bold;
}

.lunar-payment-detail tr .sw-data-grid__cell-content 
{
    font-size: 12px;
    padding: 10px;
}

