<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Card - Configuration</title>
        <name>lunar_card_configuration</name>

        <input-field type="single-select">
            <name>cardTransactionMode</name>
            <label>Transaction Mode</label>
            <options>
                <option>
                    <id>live</id>
                    <name>Live mode</name>
                </option>
                <option>
                    <id>test</id>
                    <name>Test mode</name>
                </option>
            </options>
        </input-field>

        <input-field>
            <name>cardTestModeAppKey</name>
            <label>Test mode App Key</label>
        </input-field>
        <input-field>
            <name>cardTestModePublicKey</name>
            <label>Test mode Public Key</label>
        </input-field>

        <input-field>
            <name>cardLiveModeAppKey</name>
            <label>App Key</label>
            <helpText>Get it from your Lunar dashboard</helpText>
        </input-field>
        <input-field>
            <name>cardLiveModePublicKey</name>
            <label>Public Key</label>
            <helpText>Get it from your Lunar dashboard</helpText>
        </input-field>

        <input-field>
            <name>cardLogoURL</name>
            <label>Logo URL</label>
            <helpText>URL must start with "https://", and the image must have PNG, JPG, JPEG extension.</helpText>
        </input-field>

        <input-field type="single-select">
            <name>cardCaptureMode</name>
            <label>Capture Mode</label>
            <helpText>If you deliver your product instantly (e.g. a digital product), choose Instant mode. If not, use Delayed.</helpText>
            <options>
                <option>
                    <id>delayed</id>
                    <name>Delayed</name>
                </option>
                <option>
                    <id>instant</id>
                    <name>Instant</name>
                </option>
            </options>
        </input-field>

        <input-field>
            <name>cardShopTitle</name>
            <label>Shop title</label>
        </input-field>

        <input-field>
            <name>cardDescription</name>
            <label>Description</label>
        </input-field>

        <input-field type="multi-select">
            <name>cardAcceptedCards</name>
            <label>Accepted cards</label>
            <options>
                <option>
                    <id>visa</id>
                    <name>Visa</name>
                </option>
                <option>
                    <id>visaelectron</id>
                    <name>Visaelectron</name>
                </option>
                <option>
                    <id>mastercard</id>
                    <name>Mastercard</name>
                </option>
                <option>
                    <id>maestro</id>
                    <name>Maestro</name>
                </option>
            </options>
        </input-field>

    </card>

    <card>
        <title>Mobilepay - Configuration</title>
        <name>lunar_mobilepay_configuration</name>

        <input-field type="single-select">
            <name>mobilepayTransactionMode</name>
            <label>Transaction Mode</label>
            <options>
                <option>
                    <id>live</id>
                    <name>Live mode</name>
                </option>
                <option>
                    <id>test</id>
                    <name>Test mode</name>
                </option>
            </options>
        </input-field>

        <input-field>
            <name>mobilepayTestModeAppKey</name>
            <label>Test mode App Key</label>
        </input-field>
        <input-field>
            <name>mobilepayTestModePublicKey</name>
            <label>Test mode Public Key</label>
        </input-field>

        <input-field>
            <name>mobilepayLiveModeAppKey</name>
            <label>App Key</label>
            <helpText>Get it from your Lunar dashboard</helpText>
        </input-field>
        <input-field>
            <name>mobilepayLiveModePublicKey</name>
            <label>Public Key</label>
            <helpText>Get it from your Lunar dashboard</helpText>
        </input-field>

        <input-field>
            <name>mobilepayConfigurationID</name>
            <label>Mobilepay Configuration ID</label>
            <helpText>Email onlinepayments@lunar.app to get it</helpText>
        </input-field>        
        
        <input-field>
            <name>mobilepayLogoURL</name>
            <label>Logo URL</label>
            <helpText>URL must start with "https://", and the image must have PNG, JPG, JPEG extension.</helpText>
        </input-field>

        <input-field type="single-select">
            <name>mobilepayCaptureMode</name>
            <label>Capture Mode</label>
            <helpText>If you deliver your product instantly (e.g. a digital product), choose Instant mode. If not, use Delayed.</helpText>
            <options>
                <option>
                    <id>delayed</id>
                    <name>Delayed</name>
                </option>
                <option>
                    <id>instant</id>
                    <name>Instant</name>
                </option>
            </options>
        </input-field>

        <input-field>
            <name>mobilepayShopTitle</name>
            <label>Shop title</label>
        </input-field>

        <input-field>
            <name>mobilepayDescription</name>
            <label>Description</label>
        </input-field>

    </card>

    <!-- <card>
        <title>Miscellaneous</title>
        <name>lunar_miscellaneous</name>

        <input-field type="single-select">
            <name>showLunarTransactionInOrderList</name>
            <label>Show Lunar transaction ID in order list (as separate column)</label>
            <options>
                <option>
                    <id>0</id>
                    <name>Hidden</name>
                </option>
                <option>
                    <id>1</id>
                    <name>Show</name>
                </option>
            </options>
        </input-field>
    </card> -->

</config>
